*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 150vmin; */
}
.head{
    background: linear-gradient(#4d67a0,#3e5891);
    color: #fff;
    display: flex;
    height: 83px;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    border-bottom: #233563 solid 1px;
}
.fb-heading{
    width: 49%;
    margin: 12px 0 0 170px;
    font-size: 125%;
}
.icon-anchor{
    text-decoration: none;
    color: #fff;
}
.login{
    width: 49%;
}
.login-form{
    display: flex;
    flex-direction: row;
    margin-top: -11px;
    margin-left: 18px;
}
.row{
    margin: 8px;
    display: flex;
    flex-direction: column;
    font-size: large;
}
.row input{
    height: 22px;
    border: #000 solid 1px;
}
.row *{
    font-size: 12px;
    line-height: 20px;
}
.forgot-acc{
    color: #ffffff62;
}
.lg-btn{
    justify-content: center;
}
.login-button{
    width: 50px;
    height: 25px;
    background-color: #3f65ae;
    border: #00000042 solid 1px;
    color: #fdfdff;
    font-size: 14px;
    font-weight: 700;
}
.main{
    height: 150vh;
    width: 100%;
    display: flex;
    background: linear-gradient(#fdfdff,#d5d7e3);
}
.left{
    height: 100%;
    width: 50%;
}
.contant{
    margin: 54px 0 0 185px;

}
.banner-quoat{
    font-size: 20px;
    font-weight:700;
    color: #1b3453;
}

.right{
    height: 100%;
    width: 50%;
    padding: 20px 0 0 60px;
    display: flex;
    flex-direction: column;
}
.right > h4{
    font-size: 220%;
    color: #3d3d3d;
    padding: 5px 0 5px 10px;
}
.simple{    
    padding: 5px 0 5px 10px;
    font-size: 19px;
    font-weight: 510;
}
.sighup{
    font-size: 12px;
    /* line-height: 50px; */
    padding: 5px 0 5px 10px;
}
.main-details > input{
    height: 40px;
    border: #00000048 solid 1px;   
    border-radius: 1mm;
    padding:  2px 0px 2px 5px;
    font-size: 18px;
    background-color: #ffffff23;
}
.main-details{
    display: grid;
    grid-template-columns: repeat(2 , 35%);
    grid-template-rows: repeat(3 , 40px);
    grid-gap: 10px
}
.inp-row{
    grid-column-start: 1;
    grid-column-end: 3;
}
.lettering{
    font-size: 15px;
    font-weight: 600;
    font-family: cursive;
    padding: 10px;
}