* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width:  fit-content;
}
.head {
  background: linear-gradient(#4d67a0, #3e5891);
  color: #fff;
  display: flex;
  height: 83px;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
  border-bottom: #233563 solid 1px;
}
.fb-heading {
  width: 49%;
  margin: 12px 0 0 170px;
  font-size: 125%;
}
.icon-anchor {
  text-decoration: none;
  color: #fff;
}
.login {
  width: 49%;
}
.login-form {
  display: flex;
  flex-direction: row;
  margin-top: -11px;
  margin-left: 18px;
}
.row {
  margin: 8px;
  display: flex;
  flex-direction: column;
  font-size: large;
}
.row input {
  height: 22px;
  border: #000 solid 1px;
}
.row * {
  font-size: 12px;
  line-height: 20px;
}
.forgot-acc {
  color: #ffffff62;
}
.lg-btn {
  justify-content: center;
}
.login-button {
  width: 50px;
  height: 25px;
  background-color: #3f65ae;
  border: #00000042 solid 1px;
  color: #fdfdff;
  font-size: 14px;
  font-weight: 700;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(#fdfdff, #d5d7e3);
}
.left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}
.contant {
  margin: 54px 0 0 185px;
}
.banner-quoat {
  font-size: 20px;
  font-weight: 700;
  color: #1b3453;
}

.right {
  height: 100%;
  width: 50%;
  padding: 20px 0 0 60px;
  display: flex;
  flex-direction: column;
}
.right > h4 {
  font-size: 220%;
  color: #3d3d3d;
  padding: 5px 0 5px 10px;
}
.simple {
  padding: 5px 0 5px 10px;
  font-size: 19px;
  font-weight: 510;
}
.sighup {
  font-size: 12px;
  padding: 10px 0 5px 10px;
}
.main-details > input {
  height: 40px;
  border: #00000048 solid 1px;
  border-radius: 1mm;
  padding: 2px 0px 2px 5px;
  font-size: 18px;
  background-color: #ffffff28;
  color: #000;
}
.main-details {
  display: grid;
  grid-template-columns: repeat(2, 35%);
  grid-template-rows: repeat(3, 40px);
  grid-gap: 10px;
}
.inp-row {
  grid-column-start: 1;
  grid-column-end: 3;
}
.lettering {
  font-size: 17px;
  font-weight: 600;
  font-family: cursive;
  color: #6b6b6d;
  padding: 8px 0 0 0;
  margin-top: 8px;
}
.dob-select {
  display: flex;
  margin-top: 3px;
}
.dob-select select {
  padding: 4px;
  height: 30px;
  color: #525151;
  border: #00000048 solid 1px;
}
.radio-genser {
  width: 23vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.gender {
  font-size: 19px;
  font-weight: 500;
}
.quest {
  width: 18px;
  margin: 4px 0 0 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #ffffffb0;
  background-color: #00000090;
  border-radius: 50%;
}
.agreement {
  width: 23vw;
  font-size: 95%;
  color: #6b6b6d;
}
.blue-text {
  color: #355781;
}
.signup-button {
  background: linear-gradient(#70b85a, #507e3d);
  padding: 5px;
  margin: 25px 0;
  color: #fff;
  font-size: 18px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border-image: none;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
}
.undrer-signup-btn{
    padding: 10px 0 0 10px;
    color: #6b6b6d;
    font-weight: 550;
    font-size: 13px;
}
.undrer-signup-btn a{
    text-decoration: none;
    color: #355781;
}
footer{
    height: 90px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hr{
    width: 40%;
    margin-bottom: 5px;
}
.middle{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.middle p{
    padding-bottom: 10px;
    color: #6b6b6d;
}
.middle p a{
    text-decoration: none;
    color: #355781;
}
.hr > hr{
    color: #6b6b6d94;
}